.container {
  border: 5px solid black;
  width: 1000px;
  height: 500px;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 3%;
}
.heading {
  font-size: 50px;
}

.seatQty {
  font-size: 30px;
}
.data-container {
  display: flex;
  border: 5px solid black;
  width: 950px;
  height: 270px;
  align-content: center;
  text-align: center;
  margin: 8px;
  padding: 1%;
}
.row {
  /* display: flex; */
  width: 400px;
  height: 300px;
}
.column {
  font-size: 30px;
  /* display: flex; */
  width: 650px;
  height: 500px;
  text-align: right;
}

#button {
  padding: 1%;
  font-size: 70%;
  margin-top: 5%;
  width: 200px;
}

.form-control {
  width: 250px;
  height: 25px;
}
