* {
  font-size: 15px;
}

#addDatas {
  margin-left: 5em;
  width: 20%;
  height: 5%;
  padding: 15px 32px;
  font-weight: bold;
  border-radius: 1em;
  background-color: rgb(103, 230, 103);
}

#outputtable {
  background-color: darkturquoise;
  margin: 1em;
  border: 1px;
  width: 30%;
}
#tablebody {
  background-color: lightgray;
}
.container1 {
  flex-direction: column;
  margin: 0%;
}
.parts {
  flex-direction: row;
}
