.container {
  /* display: flex; */
  border: 5px solid black;
  width: 50em;
  height: fit-content;
  font-family: sans-serif;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 3%;
}
.heading {
  font-size: 50px;
}

.seatQty {
  font-size: 30px;
}
.data-container {
  display: flex;
  border: 5px solid black;
  width: fit-content;
  height: fit-content;
  align-content: center;
  text-align: center;
  margin: 15px;
  padding: 1%;
}
.row {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.column {
  font-size: 20px;
  /* display: flex; */
  width: fit-content;
  height: fit-content;
  text-align: right;
}

#button {
  padding: 1%;
  font-size: 70%;
  margin-top: 5%;
  width: 100px;
  /* display: flex; */
}

.form-control {
  width: 150px;
  height: 25px;
}
